@import "../../styles/Functions.scss";
@import "../../styles/Variables.scss";

.skill {
    display: flex;
    flex-direction: column;
    margin: space(3) 0;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.skills-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}