@import "../../styles/Functions.scss";
@import "../../styles/Variables.scss";

.navbar {
    display: flex;
    align-items: center;
    width: calc(100% - space(4));
    position: fixed;
    z-index: 3;
    background-color: $primary-color;
    top: 0;
    border-bottom: 1px solid $secondary-color;
    margin: 0 space(2);
}

.navbar-header {
    font-family: $font-family;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}

.navbar-name {
    font-size: 25px;
    color: $accenting-color;
}

.navbar-job {
    font-size: 20px;
    margin-left: space(1);
    color: $secondary-color;
}

.navbar-links-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.navbar-link-text {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: space(1);
}

.navbar-link {
    color: $secondary-color;
    text-decoration: none;
    padding: space(2) space(1);
    margin: space(1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    min-width: 100px;
    border-radius: 5px;

    &:hover {
        background-color: $accenting-color;
        color: $primary-color;
    }
}

.navbar-logo {
    font-size: 25px;
}