@import "../../styles/Functions.scss";
@import "../../styles/Variables.scss";

.home-container {
    padding-top: space(20);
    border: none;
    padding-bottom: 0;
}

.home-title {
    font-size: space(5);
    font-family: $font-family;
    color: $secondary-color;
    flex: 1;
}

.home-subtitle{
    font-family: $font-family;
    font-size: space(2);
    color: $secondary-color;
    margin: space(1);
}

.home-subtitle-body{
    font-family: $font-family;
    margin: space(1);
}

.home-company{
    color: $secondary-color;
}

.home-presentation{
    display: flex;
    align-items: center;
}

.home-picture{
    flex: 10px;
    margin: space(3);
    border-radius: 10px;
}

.home-logo{
    padding: space(3) space(1);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: $accenting-color;
    cursor: pointer;
}