@import "../../styles/Functions.scss";
@import "../../styles/Variables.scss";

.home-container {
    padding-top: space(15);
    border: none;
    padding-bottom: 0;
}

.home-title {
    @include font-size-title-h1;

    font-family: $font-family;
    color: $secondary-color;
    flex: 1;
}

.home-subtitle-body{
    font-family: $font-family;
    margin: space(1);
}

.home-company{
    color: $secondary-color;
}

.home-presentation{
    display: flex;
    align-items: center;
}

.home-logo-link{
    &:not(:first-child){
        padding: space(3) space(1);
    }

    &:first-child{
        padding: space(3) space(1) space(3) 0;
    }

    font-weight: bold;
    text-decoration: none;
    color: $accenting-color;
    cursor: pointer;
}

.home-logo{
    @include logo-size;
}