@import "./styles/Functions.scss";
@import "./styles/Variables.scss";
@import './styles/Title.scss';
@import './styles/Timeline.scss';
@import './styles/Skills.scss';
@import './styles/Button.scss';


.container {
    &:not(:last-child) {
        border-bottom: solid 2px black;
        padding-bottom: space(10);
    }

    padding: space(5) 0 space(5) 0;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.card {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: space(2) 0;
    padding: space(2);
    border-radius: space(1);
    background-color: $secondary-color;
    border: 1px solid $primary-color;
}

.card-content {
    flex: 1 1;
}

.card-title {
    font-weight: 1000;
    margin: space(2) 0;
}

.card-logo {
    flex: 40px;
}

.body {
    padding: space(10) 10% 0 10%;
    color: $text-color;
    font-family: $font-family;
}

.flex {
    display: flex;
}

.citation {
    color: $subtitle-color;
    margin: space(3) 0;
    font-weight: 600;
}

.App {
    background-color: $primary-color
}

.link-logo{
    padding: space(3) space(1);
    font-size: space(2.5);
    font-weight: 600;
    cursor: pointer;
}

.logos-container{
    color: $accenting-color;
}