@import "./styles/Functions.scss";
@import "./styles/Variables.scss";

.container {
    border-bottom: solid 2px black;
    padding-bottom: space(10);
    padding: space(10) 0 space(10) 0;
}

.card-container {
    display: flex;
}

.container-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 0.5px solid black;
    margin: 16px;
    padding: 16px;
    border-radius: 5px;
}

.body {
    padding: space(10) 10% 0 10%;
    color: $text-color;
    font-family: $font-family;
}

.title {
    font-size: space(3);
    font-weight: bold;
    font-family: $font-family;
    margin-bottom: space(3);
    color: $title-color;
}

.flex {
    flex: 1;
}

.citation {
    color: $subtitle-color;
    text-align: center;
    margin: space(3);
}

.App {
    background-color: $background-color;
}