@import "./styles/Functions.scss";

.container {
    display: flex;
}

.container-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 0.5px solid black;
    margin: 16px;
    padding: 16px;
    background-color: white;
    border-radius: 5px;
}

.body {
    padding: 0 25% 0 25%;
    z-index: 2;
    margin-top: space(10);
}

.title {
    font-size: 1.2em;
    font-weight: bold;
}