@import "../../styles/Functions.scss";
@import "../../styles/Variables.scss";

.about-paragraph {
    text-align: justify;
    margin: space(2) 0;
    color: $secondary-color;

    @include font-size-default;
}

.about-skills-container {
    display: flex;
    margin: space(3) 0;
    flex-direction: column;
}

.about-skills-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about-skill {
    border-radius: space(1);
    margin: space(1);
    padding: space(1);
    background-color: $accenting-color;
    color: $primary-color;

    @media all and (max-width: $mobile-max-width) {
        margin: space(0.5);        
        padding: space(0.5);
    }
    
    @include font-size-secondary;
}

.about-citation {
    color: $subtitle-color;
    margin: space(3) 0;
    font-weight: bold;
    text-align: center;
    
    @include font-size-default;
}
