@import "../../styles/Variables.scss";
@import "../../styles/Functions.scss";

.contact-container {
    margin-bottom: space(5);
}

.contact-informations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: space(2) 0;
    font-weight: bold;

    @include font-size-h4;
}

.contact-links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: space(0.5);
}

.contact-logo {
    padding: 0 space(1);
    @include logo-size;
}

.contact-link-text{
    @include font-size-default;
    padding: 0 space(1);
}

.contact-link-text-a{
    text-decoration: none;
    color: $accenting-color;
    font-weight: bold;

    &:hover{
        color: $secondary-color;
    }
}