@import "./Variables.scss";
@import "./Functions.scss";

.buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button{
    display: flex;
    padding: space(1) space(1);
    margin: space(1);
    border-radius: space(2);
    background-color: white;
    color: $primary-color;
    border: 1px solid $primary-color;
    cursor: pointer;

    &:hover{
        background-color:  $primary-color;
        color: white;
    }
}