@import "./Variables.scss";
@import "./Functions.scss";

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button {
    display: flex;
    padding: space(1) space(1);
    margin: space(1);
    border-radius: space(1);
    background-color: $primary-color;
    color: $accenting-color;
    cursor: pointer;
    text-decoration: none;
    border: solid 1px $accenting-color;

    &:hover {
        background-color: $accenting-color;
        color: $primary-color;
        border: solid 1px $primary-color;
    }
}