@import "./Functions.scss";
@import "./Variables.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

.timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timelines {
  margin: 0 auto;
}

.timeline {
  display: flex;
  position: relative;

  .timeline-info {
    margin: space(1) 0 space(3);
  }

  .timeline-duration,
  .timeline-company {
    @include font-size-subtitle;
    color: $secondary-color;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .location-logo {
    margin-right: space(1);
    height: 15px;
    width: 15px;
  }

  .timeline-duration {
    margin: 0 0 space(1) 0;
  }

  .timeline-title {
    margin: 0 0 space(1);
    color: $secondary-color;
    font-weight: 600;
    text-transform: uppercase;

    @include font-size-title-h3;
  }

  .timeline-text {
    @include font-size-text;
    color: $secondary-color;
    padding-bottom: 0;
    margin: 0;
  }

  &:not(:last-child) {
    &:after {
      height: calc(100% - space(4));
    }
  }

  @media all and (min-width: 480px) {
    &:after {
      content: "";
      position: absolute;
      left: calc(space(2) - 2px);
      top: space(4);
      height: 0;
      width: 2px;
      background-color: $accenting-color;
    }

    .timeline-number {
      width: 32px;
      height: 32px;
      background-color: $accenting-color;
      border-radius: 50%;
      border: 2px solid $accenting-color;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-size: 15px;
      font-weight: 600;
      margin-right: 14px;

      &.completed {
        background-color: $subtitle-color;
        ;
      }
    }
  }
}