@import "./Variables.scss";
@import "./Functions.scss";

.title-container {
    color: $secondary-color;
    margin-bottom: space(3);
    display: flex;
    align-content: center;
    justify-content: center;
    @include font-size-h2;
}

.title-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    padding: space(0) space(2);
}

.title-inline {
    margin: 0 0 0 space(1);
    color: $secondary-color;
}

.subtitle {
    color: $second-title-color;
    font-size: 14px;
}

.subtitle-inline {
    margin: 0 space(1) 0 0;
    font-weight: 600;
}

.header-inline {
    display: flex;
    align-items: center;
    justify-content: center;
}