@import "./Variables.scss";
@import "./Functions.scss";

.title {
    font-weight: 600;
    font-size: 18px;
    color: $title-color;
    text-transform: uppercase;
}

.title-inline {
    margin: 0 0 0 space(1);
}

.subtitle {
    color: $subtitle-color;
    font-size: 14px;
}

.subtitle-inline {
    margin: 0 space(1) 0 0;
}

.header-inline{
    display: flex;
    align-items: center;
    justify-content: center;
}
