$font-family: 'Montserrat', sans-serif;

$primary-color: #FFFFFA;
$secondary-color: #000103;
$accenting-color: #0E79B2;

// $primary-color: #fdd140;
// $secondary-color: #000000;
// $accenting-color: #ffffff;

$title-color: $secondary-color;
$second-title-color: rgba(0, 0, 0, 0.7);

$subtitle-color: $accenting-color;
$text-color: $secondary-color;