$font-family: 'Montserrat', sans-serif;

$title-color: #161515;
$second-title-color: rgba(0, 0, 0, 0.7);

$subtitle-color: #5F5E5E;
$background-color: #f3f4f6;
$primary-color: #0ea5e9;
$secondary-color: #F2F2F2;
$text-color: #161515;